 * { /* reset spacing in browser */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }

body {
    display: grid;
    background-color: #D5E8E4;
    grid-gap: 8px;
}

.header {
    display: grid;
    background-color: #4F8D7D;
    width: 100%;
    grid-column: 1/ -1;
}

header > .header-brand {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    text-align: center;
}

.navbar {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    grid-column: 1/ -1;
    padding: 20px;
}

.navbar > li > a {
    text-decoration: none;
    color: white;
}

header > ul {
    display: inline;
}

.hero-img, .hero-img > img {
    width: 100%;
}

.hero-img {
    background-image: url(images/canine1.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}
.flag .flag-img {
    flex-direction: column;
    height: 300px;
    background-image: url(images/flag-hope.jpg);
    margin: auto;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.582);
    font-size: 40px;
    color: #2E554C;
}

.overlay > p {
    padding-right: 80px;
    text-align: right;
    padding-top: 80px;
}

h1 {
    font-size: 30px;
    color: #2E554C;
    padding-top: 60px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    /* flex-wrap: wrap; added for responsive image */
}

section > img {
    width:50%;
    margin: 20px;
}

section > div > p {
    margin: 10px;
    padding: 10px;
    font-size: 22px;
}

.team {
    display: block;
    margin: 20px;

}

main > p {
    margin: auto;
    font-family: Roboto, Catamaran;
    overflow: auto;
    width: 50%;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}


/* Contact form */

form {
    background: #4F8D7D;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom:40px;
    padding-top:40px;
    padding-bottom:40px;
    border: 3px solid #4F8D7D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 90%;
    font-size:18px;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

button {
    background: #2E554C;
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 6%;
    border-color: #4F8D7D;
    width: 25%;
    margin: 20px;
}

textarea {
    resize: vertical;
    max-height: 140px;
    width: 90%;
    font-size:18px;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

input, textarea {
display: flex;
align-items: center;
outline: none;
border: 1px solid #ddd;
}

input:focus, textarea:focus {
box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
border: 1px solid #ddd;
}

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#2E554C;
    margin-top: 60px;
}

footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.7;
}

.footer > li {
    padding: 20px;
    margin: 30px;
}

.fa-facebook {
    background: #2E554C;
    color: white;
}

.fa-youtube {
    background: #2E554C;
    color: white;
}

.fa-instagram {
    background: #2E554C;
    color: white;
}

.fa-twitter {
    background: #2E554C;
    color: white;
}





/*
  #map {
      height: 500px;
      width: 100%;
  } */


  @media only screen and (max-width: 650px){
      section {
        flex-wrap: wrap;
      }
  }


  @media only screen and (min-width: 650px){
      seection {
        flex-wrap: nowrap;
      }
  }