.destination-container {
  background-color: rgba(254, 167, 101, 0.12);
  min-height: 100vh;
}
.destination-header-text {
  font-size: 28px;
  font-family: 'Jomolhari', sans-serif;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.location-text {
  font-family: 'Jomolhari', sans-serif;
  margin: 25px;
}
.location-text img {
  border-radius: 8px;
  margin: 25px;
  width: 230px;
  height: 160px;
}

.location-text img:active {
  background-color: bisque;
}

@media only screen and (min-width: 500px) {
  .location-text img {
    width: 375px;
    height:300px;
  }
}