.landing-container {
    opacity: none;
    /* background: #E3D5E0; */
}
/* .landing-overlay {
    background: rgba(0, 162, 174, 0.17);
} */
.vidly-intro {
    color: #001428;
}
.lazy-hero {
    min-height: 100vh;
    width: 100vw;
    opacity: none;
}


