@import url('https://fonts.googleapis.com/css?family=Jomolhari|Lato&display=swap');

.navbar-logo {
  /* align-self: flex-start; */
  display: inline-block;
  font-weight: bold;
  font-size:12px;
  padding: 8px;
}
.logo {
  width: 25px;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  font-family: 'Jomolhari', serif;
  width: 100%;
  background:rgba(0, 20, 40, 0.96);
  overflow-y: scroll;
  z-index: 2;
}
.navbar a {
  color: whitesmoke;
  padding: 10px;
}
.navbar-links {
  display: inline-block;
  font-size: 10px;
  align-items: flex-end;
  padding: 8px;
}
.vidly-intro {
  font-family: 'Jomolhari', serif;
  font-weight: bold;
  font-size: 24px;
}
.register-page-link-btn {
  border: 2px solid #E3D5E0;
  padding: 5px;
  border-radius: 4px;
  background: none;
}
@media only screen and (min-width: 500px) {
  .navbar-logo {
    font-size:20px;
    padding: 20px;
  }
  .logo {
    width: 40px;
    height: auto;
  }
  .navbar-links {
    font-size: 16px;
    padding: 20px;
  }
}

@media only screen and (min-width: 750px) {
  .navbar-logo {
    font-size:30px;
    padding: 20px;
  }
  .logo {
    width: 60px;
    height: auto;
  }
  .navbar-links {
    font-size: 22px;
    padding: 20px;
  }
  .vidly-intro {
    font-size: 72px;
  }
  .register-page-link-btn {
    font-size: 32px;
  }
}