@import url('https://fonts.googleapis.com/css?family=Jomolhari|Lato&display=swap');

.navbar-logo {
  /* align-self: flex-start; */
  display: inline-block;
  font-weight: bold;
  font-size:20px;
  padding: 20px;
}
.logo {
  width: 40px;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-family: 'Jomolhari', serif;
  width: 100%;
  background: #001428;
}
.navbar a {
  color: whitesmoke;
  padding: 10px;
}
.navbar-links {
  display: inline-block;
  font-size: 16px;
  align-items: flex-end;
  padding: 20px;
}
