.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

input {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 25px;
  width: 240px;
}

button {
  height: 40px;
  width: 90px;
  border-radius: 100px;
  margin: 20px;
  background: dodgerblue;
}


h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  width:800px;
  height: 240px;
  border: 1px solid midnightblue;
  border-radius: 20px;
  margin: 60px;
}