.custom-select {
    width: 200px;
}

body {
    background: lightgray;
}

#travelForm {
    background: lightseagreen;
    width:100%;
    height:100%;
    border-radius: 4px;
}

#subBtn {
    background: #F9F9A8;
}