h1 {
    font-family: Georgia;
    color: darkgreen;
    text-align: center;
}
h2 {
    font-family: Georgia;
    text-align: center;
}

p {
    line-height: 25px;
}
ul {
    position: relative;
    left: 20px;
}
a:hover {
    text-decoration-line: underline;
}

img {
    float: left;
    margin-right: 30px;
}
.remove-underline {
    text-decoration-line: none;

}

.make-uppercase {
    text-transform: uppercase;
}

