* {
  margin: 0;
  padding: 0;
}
.app-container {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #f5f7ec;
  display: flex;
  /* display: grid; */
  flex-direction: column;
  border: 10px solid red;
  /* align-items: center;
  justify-content:space-around; */
  /* grid-template-columns: 1fr;
  grid-template-rows: 30px auto 1fr 1fr; */
}





