
.footer {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: 40px;
    background: linear-gradient(rgb(3, 17, 34), rgb(36, 78, 117));

  }

.footer > p {
    font-size: 12px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
