.form {
    background-color: #4089BF;
}

form > div.form-input > p {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    line-height: 1.5;
}

div.form-input {
    margin-top: 60px;
}

input {
    display: flex;
    width: 80%;
    height: 40px;
    border-radius: 4px;
    margin-left: 46px;
    margin-right: 40px;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s all;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.submit {
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 80px;
    margin-bottom: 40px;
    padding: 8px;
    width: 20%;
    height: 20%;
    border-radius: 4px;
}
/* Address */
.address-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


@media only screen and (max-width:500px) {

/* Contact Form spacing between walls and start/end of each input */
    input {
        margin-left: 46px;
    }
    .submit {
        margin-left: 180px;
        margin-right: 80px;
    }
}