@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.nav-container {
    display: flex;
    height: 8vh;
    align-items: center;
    color: whitesmoke;
    background-color:#054547;
    justify-content: space-between;
}

.nav-container > header > img {
  height: auto;
  position: fixed;
  width: 100%;
  display: flex;
}

.nav-container > p {
  font-size: 16px;
  display: flex;
  font-family: "Ubuntu", sans-serif;
}

main > p:nth-child(2) {
margin-left: 40px;
  margin-right: 40px;
}

.nav-container > div {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  margin-right: 10px;
}

.nav-container > div > .subtext {
  font-size: 8px;
  color: palegoldenrod;
  margin-right: 60px;
  display:inline-block;
  font-family: "Ubuntu", sans-serif;
}

.nav-container > .icon {
  width: 6%;
  display: block;
}


