.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: #D0D0F5;
}

.name {
    color: #1313A4;
}


.messages {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(40, 40, 115);
    margin: 10px 0px;
    padding: 20px;
    background-color: white;
}

#main {
    margin: 30px;
    border: 1px solid rgb(40, 40, 115);
    padding: 10px;
    color: rgb(25, 25, 112);
    background-color: rgb(83, 66, 144);
}

.message {
    padding: 5px
}

.right {
    align-self: flex-end;
    background-color: lightblue;
}

.left {
    align-self: flex-start;
    background-color: rgb(239, 205, 146);
}

button {
    background-color:rgb(108, 202, 158);
}
