.portfolio-item-one-card,
.portfolio-item-two-card,
.portfolio-item-three-card {
  display: flex;
}
.card {
  flex: 1 0 100%;
  /*
  position: relative;
  background-size: cover; */
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.content-card-one {
  background-image: linear-gradient(
      rgba(44, 67, 97, 0.3),
      rgba(44, 67, 97, 0.3)
    ),
    url("../assets/vidly-feature-sunset-bg.jpg");
}
.content-card-two {
  background-image: linear-gradient(
      rgba(44, 67, 97, 0.3),
      rgba(44, 67, 97, 0.3)
    ),
    url("../assets/got-forest-bg.jpg");
}
.content-card-three {
  background-image: linear-gradient(
      rgba(205, 0, 130, 0.3),
      rgba(205, 0, 130, 0.3)
    ),
    url("https://images.unsplash.com/photo-1548504778-b14db6c34b04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");
}
.header-one {
  font-size: 42px;
  padding-top: 50px;
  color: whitesmoke;
}
/* .tech-text-one,
.tech-text-two,
.tech-text-three {
  color: #1572b6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 26px;
} */
.content-tech-one,
.content-tech-two,
.content-tech-three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  padding-bottom: 42px;
}
.tech-icons-container {
  display: flex;
  justify-content: center;
  height: 24px;
}
.header-two,
.header-three {
  font-size: 40px;
  padding-top: 50px;
  color: whitesmoke;
}
.subtext {
  font-family: "Muli", sans-serif;
  color: whitesmoke;
  font-size: 16px;
  padding: 8px;
}

.subtext-two {
  line-height: 0.5em;
  color: #241f1c;
}
.subtext-three {
  color: #33002f;
}
.svg-icon {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 100%;
}
.icons-light {
  fill: #ffffff;
}
svg:hover,
svg:focus {
  fill: #1572b6;
}

.img-one,
.img-two,
.img-three {
  /* margin-right: 8px; */
  width: 100%;
  height: auto;
  margin: auto;
}

@media (min-width: 375px) and (max-width: 499px) {
  .img-one {
    width: 88%;
    height: auto;
    object-fit: cover;
    margin-right: 60px;
  }
}
@media all and (max-width: 749px) and (min-width: 500px) {
  .subtext {
    font-size: 16px;
    margin: 32px;
  }
  .subtext-one {
    line-height: 1.5em;
  }
  .subtext-two {
    margin: 8px;
  }
  .img-one {
    width: 64%;
    border-radius: 8px;
    border: 18px solid rgb(38, 37, 37);
    content: url("../assets/vidly.png");
  }
  /* .grid-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: opacity 0.3s ease-out;
  } */

  .img-three {
    /* 576px */
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 20px;
  }

  .header-one,
  .header-two {
    font-size: 56px;
  }
  .tech-text-one,
  .tech-text-two,
  .tech-text-three {
    margin: 20px;
    font-size: 38px;
  }
}

@media (min-width: 750px) {
  .subtext {
    font-size: 32px;
    margin: 8px;
  }
  .subtext-one {
    line-height: 1.5em;
  }
  .subtext-two {
    margin: 8px;
  }
  .img-one {
    margin-top: 8px;
    width: 56%;
    border-radius: 8px;
    border: 18px solid rgb(38, 37, 37);
    content: url("../assets/vidly.png");
  }
  .img-two {
    margin-top: 8px;
  }
  .img-three {
    width: 88%;
  }
  .header-one,
  .header-two,
  .header-three {
    font-size: 64px;
  }
  .tech-text-one,
  .tech-text-two,
  .tech-text-three {
    font-size: 54px;
  }
  .tech-icons-container {
    margin-top: 8px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) and (min-width: 850px) {
  .header-one,
  .header-two,
  .header-three {
    font-size: 72px;
  }
  .subtext {
    font-size: 24px;
    margin: 16px;
  }
  .img-one {
    width: 48%;
    /* margin-left: 240px; */
  }
  .img-two {
    width: 88%;
    /* margin-left: 88px; */
  }
  .img-three {
    width: 72%;
    /* margin-left: 204px; */
  }
  .tech-icons-container {
    height: 56px;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
  .portfolio-item-one-card,
  .portfolio-item-two-card,
  .portfolio-item-three-card {
    display: flex;
    flex: 1 0 100%;
  }
  .header-one,
  .header-two,
  .header-three {
    font-size: 72px;
  }
  .subtext {
    font-size: 24px;
    margin: 16px;
  }
  .img-one {
    width: 42%;
  }
  .img-two {
    width: 88%;
  }
  .img-three {
    width: 64%;
  }
  .tech-icons-container {
    height: 56px;
  }
}
