.contact-heading {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contact-icon svg {
    margin: 20px;
}

.contact-links svg {
  display: flex;
  justify-content: space-between;
}

svg:hover svg-inline--fa {
  fill: #2c4361;
}
.thank-you div {
    margin-top:40px;
    padding: 80px;
}
.thank-you-text {
    margin: 80px;
}
