.bg-contact {
  background-color: #f5f5f5;
}
.container {
  padding-top: 40px;
  padding: 60px;
}
.contact-heading {
  margin-top: 590px 0 0 0;
  padding: 160px 48px 160px 48px;
  background-color: royalblue;
  /* display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; */
  color: #2c4361;
  font-size: 72px;
  line-height: 52px;
  font-weight: 700;
}
.contact-text {
  display: flex;
  padding: 30px;
  font-size: 18px;
  line-height: 28px;
}
.contact-icon svg {
  margin: 20px;
}

div.flex-container.contact-links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-self: center;
  align-content: center;
  padding-top: 50px;
}

svg:hover svg-inline--fa {
  fill: #2c4361;
}
.thank-you div {
  margin-top: 40px;
  padding: 180px;
}
.thank-you-text {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 80px;
}
