.bg-contact {
  display: flex;
  flex: 1 1 100%;
  background-color: #2c4361;
  /* height: 100vh; */
}

.contact-icon svg {
  margin: 8px;
  height: 32px;
  color: #f2ffff;
}
/* .tech-icons-container {
display: flex
} */

div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 42px;
}

@media screen and (min-width: 375px) {
  div.flex-container {
    margin-right: 16px;
  }
}

@media screen and (min-width: 500px) {
  div.flex-container {
    padding-right: 120px;
  }
}

@media (min-width: 750px) {
  div.flex-container {
    margin-right: 128px;
    height: 56px;
  }
  .contact-icon {
    margin: 8px;
  }
  .bg-contact {
    padding-bottom: 64px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 850px) {
  div.flex-container {
    margin-right: 96px;
    height: 72px;
  }
  .contact-icon {
    margin: 42px;
  }
  .bg-contact {
    padding-bottom: 72px;
  }
}

@media all and (max-width: 1530px) and (min-width: 1025px) {
  div.flex-container {
    margin-right: 240px;
    height: 72px;
  }
  .contact-icon {
    margin: 42px;
  }
  .bg-contact {
    padding-bottom: 96px;
  }
}
