.bg-contact {
  display: flex;
  flex: 1 1 100%;
  background-color: #2c4361;
  /* height: 100vh; */
}

.contact-icon svg {
  margin: 8px;
  height: 32px;
  color: #f2ffff;
}
/* .tech-icons-container {
display: flex
} */

div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 42px;
}

@media screen and (min-width: 360px) {
  div.flex-container {
    padding-left: 52px;
  }
}

@media screen and (min-width: 500px) {
  div.flex-container {
    padding-right: 120px;
  }
}

@media (min-width: 750px) {
  div.flex-container {
    margin-right: 128px;
    height: 48px;
  }
  .contact-icon {
    margin: 8px;
  }
}

@media all and (max-width: 1030px) and (min-width: 850px) {
  div.flex-container {
    margin-right: 240px;
    height: 64px;
  }
  .contact-icon {
    margin: 8px;
  }
}
