@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
/*
html,
body,
section {
  min-height: 100vh;
  min-width: 100vw;
} */

.home-hero-banner {
  flex: 1 100%;
  position: relative;
  margin: 64px 0 0 0;
  padding: 160 48px 160px 48px;
  background: #f2ffff;
  background-image: url("../assets/welcome-banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.hero-home {
  width: 100%;
  overflow: hidden;
  height: auto;
}
.intro {
  font-family: "Muli", sans-serif;
}
.intro-text {
  font-family: "Muli", sans-serif;
  margin: 1.5em 0 1.5em 0;
}
.left-header,
.right-header {
  font-family: "Muli", sans-serif;
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.left-text,
.right-text {
  line-height: 150%;
  font-size: 1.25rem;
  line-height: 150%;
}

/* Pattern styles */
.container {
  display: flex;
  flex-flow: wrap;
  text-align: center;
}

.left-half {
  background-color: #c6e8e9;
  flex: 1 100%;
  padding: 1rem;
}
.right-half {
  background-color: #a9c5c6;
  padding: 1rem;
}
.image-cropper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.profile-photo {
  margin: 20px;
  width: 100px;
  height: 125px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.contact-me-btn {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  display: inline-block;
  background: #c6e8e9;
  color: #2c4361;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 50px;
  border: none;
}

@media only screen and (min-width: 500px) {
  .left-half {
    background-color: #c6e8e9;
    flex: 1;
    padding: 1rem;
  }
  .right-half {
    background-color: #a9c5c6;
    flex: 1;
    padding: 1rem;
  }
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
  }
  h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.25;
  }
  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
  }
}
