@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

/*
html,
body,
section {
  min-height: 100vh;
  min-width: 100vw;
} */

.home-hero-banner {
  flex: 1 100%;
  position: relative;
  margin: 64px 0 0 0;
  padding-bottom: 40px;
  /* padding: 160 48px 160px 48px; */
  background: #f2ffff;
  background-image: linear-gradient(
      rgba(44, 67, 97, 0.5),
      rgba(44, 67, 97, 0.5)
    ),
    url("../assets/welcome-banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.hero-home {
  width: 100%;
  overflow: hidden;
  height: auto;
}
.intro {
  font-size: 2rem;
  padding-top: 10px;
  color: whitesmoke;
  font-family: "Muli", sans-serif;
}
.intro-text {
  color: whitesmoke;
  font-family: "Muli", sans-serif;
  padding: 20px;
  margin: 1.2em 0 1.2em 0;
}
.left-header,
.right-header {
  padding: 20px;
  font-family: "Muli", sans-serif;
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.left-text-quote,
.right-text {
  padding: 10px;
  line-height: 150%;
  font-size: 1rem;
}
.left-text-author {
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}
.right-text {
  padding-bottom: 40px;
}

/* Pattern styles */
.container {
  display: flex;
  flex-flow: wrap;
  text-align: center;
}

.left-half {
  background-color: #c6e8e9;
  flex: 1 100%;
  padding: 1rem;
}
.right-half {
  background-color: #c6e8e9;
  padding: 1rem;
}
.image-cropper {
  display: inline-block;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.profile-photo {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.contact-me-btn {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  display: inline-block;
  background: #c6e8e9;
  color: #2c4361;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 50px;
  border: none;
}
.contact-me-btn:hover {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2c4361;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.project-header-container {
  flex: 1 100%;
  font-family: "Muli", sans-serif;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

@media only screen and (min-width: 500px) {
  .left-half {
    background-color: #c6e8e9;
    flex: 1;
    padding: 1rem;
  }
  .right-half {
    background-color: #2c4361;
    color: white;
    flex: 1;
    padding: 1rem;
  }

  .home-hero-banner {
    background-size: cover;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 750px) {
  .intro {
    font-size: 4rem;
    padding-top: 50px;
  }
  .left-half,
  .right-half {
    flex: 1 100%;
  }
  h1 {
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
  }
  h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.25;
  }
  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
  }
  .home-hero-banner {
    background-size: cover;
    padding-bottom: 120px;
  }
  .section-static {
    flex: 1 100%;
  }
  .contact-me-btn {
    font-weight: bold;
    font-size: 22px;
  }
}
