.wrapper {
  height: 100vh;
  flex: 1 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: #2c4361;
  padding: 42px;
  height: 50vh;
}
.static-link {
  background: #2c4361;
  padding: 42px;
  height: 20vh;
}
.macbook-img {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 380px;
  height: auto;
  padding: 20px;
}
.vidly-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 380px;
  height: auto;
  border: none;
}
.lashgirl-ecomm {
  width: 320px;
  font-size: 0px;
}
.lashgirl-ecomm2 {
  width: 320px;
}

.text-overlay {
  background-image: linear-gradient(
    rgba(44, 67, 97, 0.2),
    rgba(44, 67, 97, 0.2)
  );
}

.bg1::after {
  background-image: url("https://images.unsplash.com/photo-1548777123-e216912df7d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2475&q=80");
  background-repeat: no-repeat;
}

.bg2::after {
  background-image: url("../assets/vidly.png");
  background-repeat: no-repeat;
}
.bg3::after {
  background-image: url("../assets/vidly-peek.png");
  background-repeat: no-repeat;
}
.bg:hover {
  opacity: 0.3;
}
.bg4::after {
  background-image: url("https://images.unsplash.com/photo-1570475735025-6cd1cd5c779d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 750px) {
  .section {
    width: 60vw;
  }
  .static {
    height: auto;
    width: 100%;
  }
  .macbook-img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 600px;
    height: auto;
  }
  .parallax::after {
    top: 0;
    right: 8;
    bottom: 0;
    left: 3;
    transform: translateZ(-1px) scale(2.4);
  }
}
