.portfolio-card-container {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.sample-item-one {
  width: 320px;
  height: auto;
}

.item-one-card {
  padding-top: 40px;
}

.sample-item-two {
  width: 320px;
  height: auto;
}
.item-two-card {
  padding-top: 40px;
}
