.single-study-container {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  width: 600px;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.1);
}
.app-name {
  padding: 20px;
}
.app-description {
  /* padding: 40px; */
}
.feature-app-container {
  display: flex;
  flex: 0 1 calc(50% - 1em);
  /* justify-content: center;
  align-content: center;
  align-items: center; */
  margin: none;
}
.app-photo {
  width: 180px;
  height: auto;
  border-radius: 8px;
}
@media only screen and (min-width: 500px) {
  .single-study-container {
    display: inline-block;
  }
}
@media only screen and (min-width: 750px) {
}
