* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #181818;
}
.App {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  /* min-width: 100vw; */
  padding-bottom: 2.5rem;
}
