.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  background: #020101;
  color: whitesmoke;
  font-size: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
