* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.house-container {
  display: grid;
  font-family: 'Cinzel', serif;
  grid-gap:2rem 10px;
  background: #C3BDB6;
  padding-top: 30px;

}

.house-banner {
  font-family: 'Cinzel', serif;
  text-align: center;
  /* border: 1px solid #2b2b2b; */
  padding: 20px;
  background-image:
      linear-gradient(
        to right,
        #141414,
        #7c7c81,
        #798487,
        #575c5d,
        #141414
      );
}

.house-card-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 40px;
  text-align: center;
  font-family: 'Cinzel', serif;
  background: #C3BDB6;
  /* color: #265877; */
  /* background: #E2E9E7; */
}
.house-container > div:nth-child(2) {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 40px;
  text-align: center;
}

.card {
  display:grid;
  grid-gap:3rem 20px;
  padding: 40px;
  margin: 30px;
  min-height: 171px;
  text-align: center;
  border: 1px solid #265877;
  border-radius: 10px;
  /* color: #5D5F5F; gray*/
  color: #265877;
  background: #E2E9E7;
}
.house-name:hover, .card:hover {
  color: #E7D490;
  background: rgb(43,43,43);
  background-color: rgba(43,43,43, 0.1) transparent;
}

button {
  display: flex;
  margin-top: 40px;
  color: #E2E9E7;
  background: #265877;
}
.page-btns {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.hidden {
  display: none;
}

.house-container > div:nth-child(3) > button {
  margin-left: 40px;
  font-size: 1em;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #265877;
}

.house-container > div:nth-child(4) > button {
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 1em;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #265877;
}