* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Cinzel", serif;
  margin-top: 100px;
  margin-bottom: 20px;
  color: whitesmoke;
  font-size: 32px;
  font-weight: bold;
}
section {
  display: flex;
  padding: 30px;
}
.westeros-map {
  display: inline-block;
  margin: auto;
  margin-bottom: 40px;
  width: 80%;
  height: 730px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../assets/westeros-map-dorne.jpg");
}

@media only screen and (max-width: 500px) {
  .title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0px;
    padding: 0;
  }

  .map-title {
    margin-top: 60px;
    margin-bottom: 0px;
  }

  section {
    max-width: 100%;
    padding: 0px;
  }
  .westeros-map {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }
}
.redirect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 40px;
  border: 2px solid;
  background: #E7D490;
  border-radius: 4px;
  color: #265877;
  height: 40px;
  width: 100px;
}
.redirect:hover {
  background-color: #265877;
  color: #E7D490;
}

button:focus {
  margin: auto;
  margin-bottom: 40px;
}

/* fix here padding ontop
@media only screen and (max-width: 760px) {

} */