* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display:flex;
    padding:30px;
    justify-content:center;
    color: whitesmoke;
}

.member-name {
    font-size: 24px;
    background-color: whitesmoke;
    border: 8px solid whitesmoke;
    border-radius: 4px;
    padding: 2px;
}

.member-gender {
    font-size:12px;
    padding: 8px;
}
.member-title {
    font-size: 16px;
}

.member-img {
    height: 100%;
    width: 200px;
}

button.return-btn {
    margin: 30px;
    margin-left: 40px;
    padding: 10px;
}

.member-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 8px;
    min-width: 360px;
    font-family: 'Cinzel', serif;
    color: #0B1B1E;
    background: #87847D;
    border: 1px solid;
    border-radius: 8px;
}

:nth-child(2) > button > a > a.return-tag {
    text-decoration: none;
}